{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/equipment.css">
{% endblock %}

{% block content %}
    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-8 offset-2 text-center">
                <img class="pb-5" style="width:250px;" src="/assets/images/home-category.png" alt="Home victory logo">
            </div>
        </div>
        <div class="row">
            {% for equipment in equipments %}
                <div class="col-md-4 col-12">
                    <div class="card text-dark equipement-card">
                        <div class="equipment-image text-center">
                        <img style="width:200px" src="/uploads/equipment/{{ equipment.image }}"
                             alt="image de {{ equipment.name }}">
                        </div>
                        <div class="card-body">
                            <div title="{{ equipment.name }}">
                                <p class="text-dark"><strong>{{ equipment.name }}</strong>
                                </p>
                                <p class="text-dark">Price : {{ equipment.price }} Golden Coins</p>
                                <p class="text-dark">Description : {{ equipment.description }} </p>
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            <a class="btn font-weight-bold" href="/Order/sendOrder/{{ equipment.id }}">
                                I need this equipment
                            </a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}